html {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    align-items: center;
    background-color: rgb(127, 187, 240);

    #contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 10rem;

        #numberInput {
            width: 5rem;
            min-width: fit-content;
            text-align: center;
        }

        #outputContainer {
            width: 20rem;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }
    }
}
