html {
    display: flex;
    justify-content: center;
    margin-top: 5rem;
    align-items: center;
    background-color: rgb(127, 187, 240);

    #contentContainer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 10rem;

        #numberInput {
            width: 5rem;
            min-width: fit-content;
            text-align: center;
        }

        #outputAndSheepContainer {
            display: flex;
            justify-content: space-around;
            #outputContainer {
                width: 10rem;
                min-width: fit-content;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }
        }

        #cloudContainer {
            display: flex;
            justify-content: space-around;
            .cloud {
                margin-top: -60px;
                margin-left: 63.222px;
                margin-right: 64.128px;
                margin-bottom: 50px;
            }
        }
    }

    #grassImage {
        position: absolute;
        bottom: 0%;
    }
}
